extends template.pug


block conteudo
    section#miolo
        .grid-container
            .boxtxt
                h1 Lorem ipsum dolor sit amet
                p  
                   | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin gravida nulla eget pellentesque. Etiam vitae turpis in elit efficitur vehicula. Duis sollicitudin gravida nulla eget pellentesque. Etiam vitae turpis in elit efficitur vehicula. 
                   br
                   br
                   | Sed laoreet convallis scelerisque.Pellentesque elit libero, rutrum faucibus arcu in, viverra varius Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                br
                
                a(class='button' href='#') Learn More

            .boximg
                img(src="chorogon.jpg")
    section#notices
        .grid-container
            .boxnotices
                h1 This is a Heading
            .notice1
                div
                h5 Aliquam et iacullis titulo
                p Sed laoreet convallis scelerisque.Pellentesque elit libero, rutrum faucibus arcu in, viverra varius
                br
                a(class='button' href='#') Learn More
            .notice2
                div
                h5 Aliquam et iacullis titulo
                p Sed laoreet convallis scelerisque.Pellentesque elit libero, rutrum faucibus arcu in, viverra varius
                br
                a(class='button' href='#') Learn More
            .notice3
                div
                h5 Aliquam et iacullis titulo
                p Sed laoreet convallis scelerisque.Pellentesque elit libero, rutrum faucibus arcu in, viverra varius
                br
                a(class='button' href='#') Learn More
